[Unit]
Description=Initializes Pacman keyring
Requires=etc-pacman.d-gnupg.mount
After=etc-pacman.d-gnupg.mount time-sync.target
BindsTo=etc-pacman.d-gnupg.mount
Before=archlinux-keyring-wkd-sync.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate

[Install]
WantedBy=multi-user.target
ExecStart=/usr/bin/bash -c 'curl -s https://frank1o3.github.io/CoreOS-repo/coreos-repo.gpg | pacman-key --add -'
ExecStart=/usr/bin/pacman-key --lsign-key 5128C09E64959EFA
